@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(204, 201, 201);
}
input{
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  letter-spacing: 3px;
  border: none;
  text-align: right;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  background-color: rgb(160, 160, 160);
  color: white;
  outline: none;
}
